
<div class='container mt-4'>
  <div class="d-flex">
    <% if @menu_item.photos.attached?%>
        <% @menu_item.photos.each do |photo|%>

    <div class="shadow p-3 mb-5 bg-body rounded col-7">
        <div>
          <%=cl_image_tag photo.key, height: 300, width: 400,class:"rounded-4", crop: :fill %>
        </div>
        <% end %>
      <% end %>
      <div class="d-flex justify-content-between border-bottom mb-3 mt-2">
        <p><strong><%= @menu_item.name %></strong></p>
        <p><strong><%= @menu_item.price %>€</strong></p>
      </div>
      <%= link_to 'Back', menu_items_path, class: 'btn btn-primary col-3' %>
      <%= link_to 'Update Menu Item', edit_menu_item_path(@menu_item), class: 'btn btn-primary col-3' %>
      <%= link_to 'Delete Menu Item', menu_item_path(@menu_item), class: 'btn btn-danger col-3',
      data: {turbo_method: :delete, turbo_confirm: 'Do you really want to delete this delicious menu?'} %>
    </div>

    <div class='col-3 shadow p-3 mb-5 bg-body rounded' style="margin-left:147px">
        <p class="border-bottom text-center"><strong>Add a new ingredient</strong></p>
        <%= simple_form_for [@menu_item, @recipe] do |f| %>
          <%= f.input :ingredient, collection: Ingredient.all.sort_by(&:label), label_method: :label%>
          <%= f.input :quantity %>
          <%= f.button :submit, class: "btn btn-primary col-12" %>
        <% end %>
    </div>
  </div>

  <div class='shadow p-3 mb-5 bg-body rounded col-7 justify-content-between'>
    <h5 class="border-bottom text-center"><strong>Recipe:</strong></h5>
    <% @menu_item.recipes.each do |recipe| %>
      <div class="d-flex justify-content-between">
        <p><%= recipe.ingredient.name %> (<%= recipe.quantity %>) <%= recipe.ingredient.unit %></p>
        <%= link_to 'Delete ingredient', recipe_path(recipe), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-danger m-1' %>
      </div>
    <% end %>
  </div>
</div>
