<% ingredients.each do |ingredient| %>
      <div class="ing-card card" style="width: 8rem;">
        <img src="https://spoonacular.com/cdn/ingredients_100x100/<%= ingredient.name %>.jpg" class="card-img-top" alt="<%= ingredient.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= ingredient.name.capitalize %></h5>
          <p class="card-text">(<%= ingredient.quantity %> <%= ingredient.unit %>)</p>
          <%= link_to "Show more", ingredient_path(ingredient), class: "btn btn-primary"%>
        </div>
      </div>
      <% end %>
