 <%= simple_form_for ingredient do |f| %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :unit, as: :select, collection: Ingredient::UNIT%>
          <%= f.input :quantity%>
          <%= f.input :category, as: :select, collection: Ingredient::CATEGORY%>
          <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Add an image (otherwise a beautiful placeholder is set by default)"%>
        </div>

        <div class="form-actions">
          <%= f.button :submit, id: "blue_button", class: "btn btn-primary" %>
        </div>
      <% end %>
