<div class="container">
  <div class="inventory-title">
    <h2><%= link_to "Inventory Overview", ingredients_path %></h2>
    <%= link_to "Add new ingredient", new_ingredient_path(@ingredient), class: "btn btn-primary" %>
  </div>
  <div class="search-bar">
    <div class="inventory-filter">
      <% Ingredient::CATEGORY.each do |ing_category| %>
        <div class="filter-card">
          <%= link_to ingredients_path(:query => { category: :"#{ing_category}" }) do %>
            <p><%= ing_category.capitalize.pluralize %></p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="search-field">
      <%= form_with url: ingredients_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          "#{@search unless @hide}",
          class: "form-control form-control-search",
          placeholder: "Search here..."
        %>
        <%= submit_tag "Go", class: "btn btn-primary search-btn" %>
      <% end %>
    </div>
  </div>
  <div class="card-container">
    <div class="card-category">
      <div class="ing-cards" data-controller="edit-ingredient">
        <%= render "ing_cards_search" %>
      </div>
    </div>
  </div>
</div>
