<div class="container">
  <% if @order.waiting? %>
    <% if @order.order_items.empty? %>
      <%= link_to "Your cart is currently empty, pick a dish", menu_item_customers_path %>
    <% else %>
      <div class="order-cards-overview">
        <div class="order-card-delete">
          <h5>Your order details</h5>
          <%= link_to "", order_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you would like to empty cart?'}, class:"btn btn-danger fa-solid fa-cart-shopping" %>
        </div>
        <div class="order-cards">
          <% @order.order_items.sort_by(&:created_at).each do |order_item| %>
            <div class="order-card">
              <div class="order-card-title-price">
                <h3><%= order_item.quantity %>x <%= order_item.menu_item.name.capitalize %></h3>
                  <%invoice_payment = '%.2f' % (order_item.total_price/100.0) %>
                <h3><%= number_to_currency(invoice_payment , options = {precision: 2, unit: "€ "}) %></h3>
              </div>
              <% if @order.waiting? %>
                <div class="order-card-quantity">
                  <div class="order-card-empty">
                    <%= link_to "", order_item_path(order_item), data: {turbo_method: :delete, turbo_confirm: 'Do you really want to delete this item?'}, class:"btn btn-danger fa-solid fa-trash-can" %>
                  </div>
                  <div class="order-card-quantity-btn">
                    <% if order_item.quantity >= order_item.menu_item.max_available? %>
                      <p><%= link_to "", order_item_add_path(id: order_item), data: {turbo_method: :post }, class: "btn btn-primary disabled fa-solid fa-plus" %></p>
                    <% else %>
                      <p><%= link_to "", order_item_add_path(id: order_item), data: {turbo_method: :post }, class: "btn btn-primary a-solid fa-plus" %></p>
                    <% end %>
                    <p><%= order_item.quantity %></p>
                    <p><%= link_to "", order_item_reduce_path(id: order_item), data: {turbo_method: :post }, class: "btn btn-primary fa-solid fa-minus" %></p>
                  </div>
                </div>
              <% else %>
                <p><i>This order was already sent to the kitchen and cannot be changed anymore.</i></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <%# Hardcoded 10 min for buffer time for the chef to see the order and waiter to deliver it %>
      <p>Estimated time: <i class="fa-regular fa-clock"></i> <%=  @order.menu_items.all.sort_by(&:cooking_time).last.cooking_time + 10 %> min</p>
      <%invoice_payment = '%.2f' % (@order.sub_total/100.0) %>
      <p>Total order amount <%= number_to_currency(invoice_payment, options = {precision: 2, unit: "€ "}) %></p>
      <%= simple_form_for [@order] do |f| %>
        <%= f.input :table_number, as: :select, collection: (1..6) %>
        <%= button_to "Confirm payment", order_path(@order), method: :patch, data: {turbo: false }, class: "btn btn-primary"%>
      <% end%>
    <% end %>
  <% else %>
    <p><%= link_to "Start a new order", menu_item_customers_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
