<div class= "container">
  <div class="d-flex justify-content-center">

    <div class="home-card mx-3 " >
      <%= image_tag "Customers Enjoy Food.png", class:"img-size" %>
      <div class="cards-text">
        <%= link_to "Inventory", "ingredients", class: "btn btn-primary rounded-4 buttons" %>
      </div>
    </div>


    <div class= " home-card mx-4 ">
      <%= image_tag "Customers Enjoy Food.png", class:"img-size" %>
      <div class="cards-text">
        <%= link_to "Menu", "menu_items", class: "btn btn-primary rounded-4 buttons" %>
      </div>
    </div>

    <div class= "home-card mx-4 ">
      <%= image_tag "Customers Enjoy Food.png", class:"img-size" %>
      <div class="cards-text  ">
        <%= link_to "Live Kitchen", "order_items", class: "btn btn-primary rounded-4 buttons" %>
      </div>
    </div>
  </div>
</div>
