<div class="card-livekitchen">
  <div class="livekitchen-text">
    <div class="livekitchen-righttext">
      <% order.order_items.each do |item| %>
        <p><strong><%= item.menu_item.name %> (<%= pluralize item.quantity, "portion" %>)</strong></p>
      <% end %>
    </div>
    <div class="livekitchen-lefttext">
      <p><strong>Order #<%= order.id %></strong></p>
      <%# check how table number will display when no table nr is given %>
      <p><strong>Table: <%= order.table_number == 0 ? "takeaway" : order.table_number %></strong></p>
    </div>
  </div>

<%= button_to "", order_path(order), method: :patch, class: "btn btn-primary btn-kitchen fa-solid fa-fire-burner", style:"color:white"%>
</div>
