<% if in_progress_orders.empty? %>
  <div class="card-livekitchen-empty">
    <i class="fa-solid fa-fire-burner"></i>
    <p>There are currently no orders being cooked</p>
  </div>
<% else %>
  <% in_progress_orders.each do |order| %>
    <div class="card-livekitchen">
      <div class="livekitchen-text">
        <div class="livekitchen-righttext">
          <% order.order_items.each do |item| %>
            <p><strong><%= item.menu_item.name %> (<%= pluralize item.quantity, "portion" %>)</strong></p>
          <% end %>
        </div>
         <div class="livekitchen-lefttext">
          <p>Order #<%= order.id %></p>
          <%# check how table number will display when no table nr is given %>
          <p>Table: <%= order.table_number ? order.table_number : "takeaway"  %></p>
        </div>
      </div>
      <%= button_to "", order_path(order), method: :patch, class: "btn btn-primary btn-kitchen fa-solid fa-check", style:"color:white" %>
      <%# this is in progress for icons in buttons %>
        <%# <%= link_to order_path(order), method: :patch, class: "btn btn-primary btn-kitchen" do %>
      <%# <i class="fa-solid fa-check"></i> %>
    <%# <% end %>
    </div>
  <% end %>
<% end %>
