
<div class = "container">
  <div class ="row">
    <h2 class = "mb-4 row justify-content-center">Live Kitchen</h2>
    <%= link_to "Back to dashboard", root_path %>
    <div class = "row justify-content-center row flex-row ">
      <% @order_items.each do |item| %>
      <div class= " rounded-4 shadow-sm p-3 mb-5 bg-body rounded col-5 ">
        <p><strong><%= item.menu_item.name %></strong></p>
        <p>#<%= item.order_id %></p>
        <p><%= item.order.status %></p>
        <p><%= item.comment %></p>
        <%# add extras %>
        <%# add time %>
      </div>
      <div class="col-3">
        <%= link_to "Prep", "order_items", class: " btn btn-primary rounded-4", style:" height:147px" %>
        <%= link_to "", "order_items", class: "fa-solid fa-check btn btn-primary rounded-4", style:" height:147px" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
