<div class="container-mobile-cards">
    <% @menu_items.each do |item| %>
      <%= link_to menu_item_customer_path(item) do %>
        <div class="card-menu-mobile">
          <div class="card-menu-mobile-infos">
            <div class="card-menu-mobile-title-description">
              <h3><%= item.name.capitalize %></h3>
              <p><%= item.description.capitalize %></p>
            </div>
            <div class="card-menu-mobile-icons">
              <% if item.spiciness == 1 %>
                <p><i class="fa-solid fa-pepper-hot"></i></p>
              <% elsif item.spiciness == 2 %>
                <p><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
              <% elsif item.spiciness == 3%>
                <p><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
              <% else %>
                <p></p>
              <% end %>
              <p><i class="fa-regular fa-clock"></i> <%= item.cooking_time %>min</p>
              <p>€ <%= item.price %></p>
            </div>
          </div>
          <div class="card-menu-mobile-image">
            <% if item.photos.attached?%>
              <% item.photos.each do |photo|%>
                <%=cl_image_tag photo.key %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
    <% end %>
</div>
