<div class="container-mobile-cards">
  <!-- Button trigger modal -->
  <div class="card-menu-mobile menu-card"data-bs-toggle="modal" data-bs-target="#menuItem-<%=menu_item.id%>-Modal" id="menu-item-<%=menu_item.id%>">
    <div class="card-menu-mobile-infos">
      <div class="card-menu-mobile-title-description">
        <h3><%= menu_item.name.capitalize %></h3>
        <p class="warning-text"><%="This menu item is currently sold out" unless menu_item.available?%></p>
        <p><%= menu_item.description.capitalize %></p>
      </div>
      <div class="card-menu-mobile-icons">
        <% if menu_item.spiciness == 1 %>
          <p><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
        <% elsif menu_item.spiciness == 2 %>
          <p><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
        <% elsif menu_item.spiciness == 3 %>
          <p><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot" id="very-hot"></i></p>
        <% else %>
          <p><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
        <% end %>
        <p><i class="fa-regular fa-clock">&#160;</i> <%= menu_item.cooking_time %>min</p>
        <p><strong>€ <%= '%.2f' % menu_item.price %></strong></p>
      </div>
    </div>
    <div class="card-menu-mobile-image">
      <% if menu_item.photos.attached?%>
        <% menu_item.photos.each do |photo|%>
          <%=cl_image_tag photo.key %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="modal fade" id="menuItem-<%=menu_item.id%>-Modal" tabindex="-1" aria-labelledby="menuItem-<%=menu_item.id%>-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-mobile">
      <div class="modal-content modal-content-mobile">
        <div class="modal-header modal-header-mobile">
          <div class="card-menu-mobile-image-modal">
            <% if menu_item.photos.attached?%>
              <% menu_item.photos.each do |photo|%>
                <%=cl_image_tag photo.key %>
              <% end %>
            <% end %>
          </div>
          <%# <h1 class="modal-title fs-5" id="menuItem-<%=menu_item.id%>
          <%# -ModalLabel"><%= menu_item.name.capitalize</h1>  %>
          <button type="button" class="btn-close modal-button-close-mobile" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-mobile">

          <h1 class="modal-title fs-5" id="menuItem-<%=menu_item.id%>-ModalLabel"><%= menu_item.name.capitalize %></h1>
          <p><%= menu_item.description.capitalize %></p>
          <div class="card-menu-mobile-icons modal-card-menu-mobile-icons">
            <% if menu_item.spiciness == 1 %>
              <p><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
            <% elsif menu_item.spiciness == 2 %>
              <p><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
            <% elsif menu_item.spiciness == 3 %>
              <p><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot" id="very-hot"></i><i class="fa-solid fa-pepper-hot" id="very-hot"></i></p>
            <% else %>
              <p><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i><i class="fa-solid fa-pepper-hot"></i></p>
            <% end %>
            <p><i class="fa-regular fa-clock">&#160;</i> <%= menu_item.cooking_time %>min</p>
            <p><strong>€<%= '%.2f' % menu_item.price %></strong></p>
          </div>
          <% if menu_item.available? %>
            <% if user_signed_in? %>
              <%= link_to "Add To Cart", order_items_path(menu_item_id: menu_item.id), data: {turbo_method: :post}, class: "btn btn-primary" %>
            <% else %>
              <%=  link_to "Add To Cart", order_items_path(menu_item_id: menu_item.id), method: :post, class: "btn btn-primary "%>
            <% end %>
          <% else %>
            <%= link_to "Add To Cart", order_items_path(menu_item_id: menu_item.id), data: {turbo_method: :post}, class: "btn btn-primary disabled" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
