<div class="container">
  <div class="customer-menu-title">
    <h2>Menu</h2>
  </div>
</div>
<div class="customer-menu-filter">
  <% MenuItem::CATEGORY.each do |menu_category| %>
    <div class="customer-menu-filter-card">
      <%= link_to "#{menu_category.capitalize.pluralize}", "#{menu_item_customers_path}##{menu_category.gsub(/\s+/, "")}" %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="customer-menu-card-container">
    <% MenuItem::CATEGORY.each do |menu_category| %>
    <div class="customer-menu-card-category" id="<%= "#{menu_category.gsub(/\s+/, "")}" %>" >
      <h4><%= menu_category.capitalize.pluralize %></h4>
      <%# <% menu_cat = MenuItem.where(menu_item_type: "#{menu_category}") %>
      <% menu_cat = @menu_items.select{|item| item.menu_item_type == menu_category } %>
      <%= render "menu_item_cards", menu_items: menu_cat %>
    </div>
    <% end %>
  </div>

  <%# <%= @current_order.order_items.pluck(:quantity).sum %>
  <%unless !@current_order || @current_order.order_items.pluck(:quantity).sum == 0 %>
  <%# invoice_payment = '%.2f' % (@current_order.sub_total/100.0) %>
    <%= link_to order_path(@current_order), class: 'btn btn-primary m-4 checkout-btn' do  %>
      <div class="checkout-text">
        <div class="checkout-quantity">
          <p><%= @current_order.order_items.pluck(:quantity).sum %><p>
        </div>
        <%= "Go to checkout" %>
      </div>
      <div class="checkout-price">
        <% invoice_payment = '%.2f' % (@current_order.sub_total/100.0) %>
        <%= number_to_currency(invoice_payment, options = {precision: 2, unit: "€"}) %>
      </div>
    <% end %>
    <div class="empty-space"></div>
    <% end %>
</div

    <%#= link_to "(#{@current_order.order_items.pluck(:quantity).sum}) Go to checkout  #{number_to_currency(invoice_payment, options = {precision: 2, unit: "€"})}",
              order_path(@current_order), class: 'btn btn-primary m-4 checkout-btn' %>
